apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: blog-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      automountServiceAccountToken: false
      containers:
        - name: frontend
          image: 01791689522/blog-frontend:1.3.0
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 200m
              memory: 1Gi
              ephemeral-storage: 1Gi
            limits:
              cpu: 500m
              memory: 2Gi
              ephemeral-storage: 2Gi
          ports:
            - containerPort: 80
