apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: blog-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      automountServiceAccountToken: false
      containers:
        - name: backend
          image: 01791689522/blog-api:1.0.0
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 200m
              memory: 1Gi
              ephemeral-storage: 1Gi
            limits:
              cpu: 500m
              memory: 2Gi
              ephemeral-storage: 2Gi
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: backend-secret
