apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../apps/backend

namespace: blog-dev

replicas:
  - name: backend
    count: 2

images:
  - name: 01791689522/blog-api
    newTag: 1.0.0

patches:
  - target:
      kind: ConfigMap
      name: backend-config
    patch: |-
      - op: replace
        path: /data/API_BASE_URL
        value: http://dev-blog.local.com/api
      - op: replace
        path: /data/CLIENT_BASE_URL
        value: http://dev-blog.local.com/
      - op: replace
        path: /data/MONGO_HOST
        value: mongodb-0.mongo-svc.blog-dev.svc.cluster.local
      - op: replace
        path: /data/REDIS_HOST
        value: redis-0.redis-svc.blog-dev.svc.cluster.local
